{% load i18n static %}
{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{% static 'css/forms.css' %}">
{% endblock %}

<div class="actions form-group w-100">
    {% block actions %}
    {% block actions-form %}
    {% for field in action_form %}
    {% if field.label %}<label>
        {# {{ field.label }} #}
        {% endif %}
        {{ field }}
        {% if field.label %}</label>{% endif %}
    {% endfor %}
    {% endblock %}
    {% block actions-submit %}
    <button type="submit" class="btn btn-fill btn-sm btn-primary" title="{% trans 'Run the selected action' %}"
        name="index" value="{{ action_index|default:0 }}">
        {% trans "Go" %}
    </button>
    {% endblock %}
    {% block actions-counter %}
    {% if actions_selection_counter %}
    <div class="d-block">
        <div class="text-start">
            <span class="action-counter" data-actions-icnt="{{ cl.result_list|length }}">{{ selection_note }}</span>
        </div>
        {% if cl.result_count != cl.result_list|length %}
        <div class="text-md-end text-start my-xl-0 my-2">
            <span class="question">
                <a href="#" title="{% trans 'Click here to select the objects across all pages' %}"
                    class="badge bg-primary text-white p-2">{% blocktrans with cl.result_count as total_count %}
                    Select all {{ total_count }} {{ module_name }}{% endblocktrans %}</a>
            </span>
            <span class="clear ms-2">
                <small><a href="#" class="text-mute">{% trans "Clear selection"%}</a></small>
            </span>
        </div>
        {% endif %}
    </div>
    {% endif %}
    {% endblock %}
    {% endblock %}
</div>