{% load static %}

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- Primary Meta Tags -->
<title>Billing & Accounting Module</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="title" content="Billing & Accounting Module">
<meta name="author" content="Tahzeeb Ahmed">
<meta name="description"
    content="Django-based web application designed for finance management for service-based businesses.">


<!-- Favicon -->
<link rel="apple-touch-icon" sizes="120x120" href="{% static 'billing/logo.jpeg' %}">
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'billing/logo.jpeg' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'billing/logo.jpeg' %}">

<link type="text/css" href="{% static 'billing/styles.css' %}" rel="stylesheet">
<!-- Sweet Alert -->
<link type="text/css" href="{% static 'vendor/sweetalert2/dist/sweetalert2.min.css' %}" rel="stylesheet">

<!-- Notyf -->
<link type="text/css" href="{% static 'vendor/notyf/notyf.min.css' %}" rel="stylesheet">

<!-- Volt CSS -->
<link type="text/css" href="{% static 'css/volt.css' %}" rel="stylesheet">

<!-- Native CSS -->
<link type="text/css" href="{% static 'billing/styles.css' %}" rel="stylesheet">


<!-- NOTICE: You can use the _analytics.html partial to include production code specific code & trackers -->